.root {
  display: flex;
  align-items: center;
}

.directionHorizontal {
  flex-direction: row;
  flex-wrap: wrap;
}

.directionVertical {
  flex-direction: column;
  align-items: stretch;
}

.spacingSm {
  gap: var(--space-sm);
}

.spacingMd {
  gap: var(--space-md);
}

.spacingLg {
  gap: var(--space-lg);
}

